<!DOCTYPE ejs>
<html lang="en">
<head>
    <title>Profile | O-Donate</title>
    <%- include("../partials/header") %>

<style>
img {
    width: 100%;
    height: 400px;
    /* object-fit: contain; */
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 500px;
  margin: auto;
  text-align: center;
}

.title {
  color: grey;
}

/* button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
} */

a {
  text-decoration: none;
  color: black;
}


</style>

</head>
<body>
   

    <div class="container" style="padding-top: 70px;"> 
    <%- include("../partials/navbar") %>
        <div class="card">
            <img src=<%="/uploads/profiles/"+ currentUser.profilePic %> alt="John">
            <h1><%= currentUser.username %></h1>
            <p class="title">Name : <%= currentUser.firstname %> <%= currentUser.lastname %></p>
            <p><%= currentUser.email %></p>
            <div style="margin: 24px 0;">
              
              <a href=<%= "currentUser.contactFace" %>><i class="fa fa-facebook fa-lg"></i></a> 
              <a href="#"><i class="fa fa-twitter fa-lg"></i></a>  
              <a href="#"><i class="fa fa-instagram fa-lg"></i></a>
              <a href="#"><i class="fa fa-link fa-lg"></i></i></a>
            
            </div>
           
        </div>
   
    </div>
      
</body>
</html>