<!DOCTYPE ejs>
<html lang="en">
<head>
    <title><%= tUser.username %>'s Profile | O-Donate</title>
    <%- include("../partials/header") %>
    <link rel="stylesheet" href="/stylesheets/profile.css">
    <script src="/scripts/changeProfilePic.js" type="text/javascript" defer></script>
</head>
<body>
    <%- include("../partials/navbar") %>
    <div class="container">
    <div class="wrap">
    <div class="row">
        <div class="col-md-12 pb-3">
            <h1><%= tUser.username %>'s Profile</h1>
        </div>

        <div class="col-md-4">
            <div class="profile-img mb-4">
                <img class="img-fluid rounded" src="/uploads/profiles/<%= tUser.profilePic %>">
            </div>
            
            <% if(currentUser._id.equals(tUser._id)) { %>
            <div class="text-left pb-3">
                <form id="picForm" action="/profile/editPic/" method="POST" enctype="multipart/form-data">
                    <span class="btn btn-custom btn-file">
                        Change Profile Picture <input type="file" class="form-control" id="imgSubmit" name="Image" accept="image/*">
                    </span>
                </form>
            </div>

            <div class="text-left pb-3">
                <p><a style="border: solid; border-radius: 5px; padding: 1rem 8.25rem; background-color: rgb(92, 173, 173); color: #ffffff;" href="/profile/id/<%= tUser._id %>/edit">Edit Profile</a></p>
            </div>
            <% } %>
        </div>

        <div class="col-md-6">
            <%- include("../partials/flash") %> 
            <nav>
                <div class="nav nav-tabs" id="nav-tab" role="tablist">
                    <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">About You</a>
                    <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab" aria-controls="nav-contact" aria-selected="false">Contact</a>
                    <% if(currentUser._id.equals(tUser._id)) { %>
                    <a class="nav-item nav-link" id="nav-history-tab" data-toggle="tab" href="#nav-history" role="tab" aria-controls="nav-history" aria-selected="false">History</a>
                    <% } %>
                </div>
            </nav>
            
            <div class="tab-content" id="nav-tabContent">
                <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                    <h1><%= tUser.username %></h1>
                    <h5>Name :</h5>
                    <p><%= tUser.firstname %> <%= tUser.lastname %></p>
                    <h5>Address :</h5>
                    <p><%= tUser.address %></p>
                    <h5>Description :</h5>
                    <p><%= tUser.description %></p>
                </div>

                <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">
                    <h5 class="mt-3">Contact :</h5>
                    <p>E-mail : <%= tUser.email %></p>
                    <p>Facebook : <%= tUser.contactFace %></p>
                    <p>Twitter : <%= tUser.contactTwit %></p>
                    <p>Instagram : <%= tUser.contactIG %></p>
                    <p>Website : <%= tUser.contactWeb %></p>
                </div>

                <% if(currentUser._id.equals(tUser._id)) { %>
                <div class="tab-pane fade" id="nav-history" role="tabpanel" aria-labelledby="nav-history-tab">
                    <table class="table table-striped">
                        <tbody>
                        <tr>
                            <th scope="row"><i class="fa fa-plus" aria-hidden="true"></i> Add</th>
                            <td><a href="#">Fundraiser A</a></td>
                            <td></td>
                            <td>22/06/2020</td>
                        </tr>
                        <tr>
                            <th scope="row"><i class="fa fa-money" aria-hidden="true"></i> Donate for</th>
                            <td><a href="#">Fundraiser B</a></td>
                            <td>2000 ฿</td>
                            <td>22/06/2020</td>
                        </tr>
                        <tr>
                            <th scope="row"><i class="fa fa-eye" aria-hidden="true"></i> View</th>
                            <td><a href="#">Fundraiser A</a></td>
                            <td></td>
                            <td>22/06/2020</td>
                        </tr>
                        </tbody>
                    </table>
                </div>    
                <% } %>
            </div>
        </div>
    </div>
    </div>
    </div>
</body>
</html>