<!DOCTYPE ejs>
<html lang="en">
<head>
    <title>Profile | O-Donate</title>
    <%- include("../partials/header") %>

<style>

  .wrap {
    margin-top: 4.5rem;
  }

  .img-fluid {
    width: 350px;
    height: 350px;
  }

  .btn-file {
    position: relative;
    overflow: hidden;
  }

  .btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;   
    cursor: inherit;
    display: block;
  }

  .btn-custom {
    background: rgb(92, 173, 173);
    color: #ffffff;
    width: 100%;
    margin-top: -55px;
    padding: 1rem 0rem;
    border-radius: 0%;
  }

  .btn-custom:hover {
    background: rgb(58, 175, 130);
    color: #ffffff;
  }

  .nav-tabs a{
    color: rgb(92, 173, 173);
    font-weight: 500;
  }


</style>

</head>
<body>

    <%- include("../partials/navbar") %>

    <div class="container">
      <div class="wrap">
      <div class="row">

        <div class="col-md-12 pb-3">
          <h1>Your Profile</h1>
        </div>

       
        
        <div class="col-md-4">
            <div class="profile-img mb-4">
                <img class="img-fluid rounded" src=<%="/uploads/profiles/"+ currentUser.profilePic %>>
            </div>
            
            <div class="text-center pb-3">
              <p><a style="border: solid; border-radius: 5px; padding: 15px 50px; background-color: rgb(92, 173, 173); color: #ffffff;" href="profile/edit-username">Change Profile</a></p>
            </div>
        </div>

        <div class="col-md-6">
    
          <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item" role="presentation">
              <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">About You</a>
            </li>
            <li class="nav-item" role="presentation">
              <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Your Fundraisers</a>
            </li>
           
          </ul>
          <div class="tab-content" id="myTabContent">
            <!-- About you -->
            <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
              <h1><%= currentUser.username %></h1>
              <p class="title">Name : <%= currentUser.firstname %> <%= currentUser.lastname %></p>
              <p>E-mail : <%= currentUser.email %></p>
              <p>Facebook : </p>
              <p>Twitter : </p>
              <p>Instagram : </p>
              <p>Website : </p>
            </div>
            <!-- Your fundraisers -->
            <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">...</div>
          
        </div>

     
      </div>
    </div>
    </div>
   
    
</body>
</html>