<!DOCTYPE ejs>
<html lang="en">
<head>
    <title>O-Donate: The bestest donate website in this tab.</title>
    <%- include("partials/header") %>
    <link rel="stylesheet" href="stylesheets/home.css">

</head>
<body>
    <%- include("partials/navbar") %>
    <div class="main">
        <div class="bgimg-1">
            <div class="caption">
                <a class="border">scroll down for more information</a>
            </div>   
        </div>
      
        <div style="color: #777; background-color:white; text-align:center; padding:50px 80px; text-align: justify;">
            <h3 style="text-align: center;">CHILDREN</h3>
            <p>Each day, more than 30,000 children die of poverty-related causes. Today, poverty kills one child every 3 seconds.<br> 
                Children are the primary victims of poverty, and poverty is the principal cause of violations pertaining to Children’s Rights.</p>
        </div>

        <div class="bgimg-2">
            <div class="caption">
                <a class="border" href="/fundraiser/category/Children">CLICK HERE TO DONATE FOR CHILDREN</a>
            </div>
        </div>

        <div style="color: #777; background-color:white; text-align:center; padding:50px 80px; text-align: justify;">
            <div class="container">
                <div class="row">
                    <% let i = 0 %>
                    <% aChildren.some(function (fu){ %>
                        <% i = i + 1 %>
                        <div class="col-md-4">
                            <div class="card" style="width: 18rem;">
                                <img src="/uploads/fundraisers/<%= fu.fund_image %>" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title"><%= fu.fund_name %></h5>
                                    <p class="card-text text-left"><%= fu.fund_title %></p>
                                    <a href="/fundraiser/id/<%= fu._id %>" class="btn btn-primary">Detail</a>
                                </div>
                            </div>
                        </div>
                        <% return (i == 3) %>
                    <% }); %>
                </div>
            </div>
        </div>

        <div class="bgimg-3">
            
        </div>

        <div style="color: #777; background-color:white; text-align:center; padding:50px 80px; text-align: justify;">
            <h3 style="text-align: center;">HOSPITAL</h3>
            <p>Glance around any patient room or treatment area and you will see the impact of your donation. In addition to equipment,<br>donors also support research programs, education for hospital staff and redevelopment.</p>
        </div>

        <div class="bgimg-4">
            <div class="caption">
                <a class="border" href="/fundraiser/category/Hospital">CLICK HERE TO DONATE FOR HOSPITAL</a>
            </div>
        </div>

        <div style="color: #777; background-color:white; text-align:center; padding:50px 80px; text-align: justify;">
            <div class="container">
                <div class="row">
                    <% i = 0 %>
                    <% aHospital.some(function (fu){ %>
                        <% i = i + 1 %>
                        <div class="col-md-4">
                            <div class="card" style="width: 18rem;">
                                <img src="/uploads/fundraisers/<%= fu.fund_image %>" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title"><%= fu.fund_name %></h5>
                                    <p class="card-text text-left"><%= fu.fund_title %></p>
                                    <a href="/fundraiser/id/<%= fu._id %>" class="btn btn-primary">Detail</a>
                                </div>
                            </div>
                        </div>
                        <% return (i == 3) %>
                    <% }); %>
                </div>
            </div>
        </div>

        <div class="bgimg-5">

        </div>

        <div style="color: #777; background-color:white; text-align:center; padding:50px 80px; text-align: justify;">
            <h3 style="text-align: center;">ANIMALS</h3>
            <p>Animals have no safety net in society, no voices of their own, and very few rights under the law but they touch our hearts in deep and meaningful ways.</p>
        </div>

        <div class="bgimg-6">
            <div class="caption">
                <a class="border" href="/fundraiser/category/Animal">CLICK HERE TO DONATE FOR ANIMALS</a>
            </div>
        </div>

        <div style="color: #777; background-color:white; text-align:center; padding:50px 80px; text-align: justify;">
            <div class="container">
                <div class="row">
                    <% i = 0 %>
                    <% aAnimal.some(function (fu){ %>
                        <% i = i + 1 %>
                        <div class="col-md-4">
                            <div class="card" style="width: 18rem;">
                                <img src="/uploads/fundraisers/<%= fu.fund_image %>" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title"><%= fu.fund_name %></h5>
                                    <p class="card-text text-left"><%= fu.fund_title %></p>
                                    <a href="/fundraiser/id/<%= fu._id %>" class="btn btn-primary">Detail</a>
                                </div>
                            </div>
                        </div>
                        <% return (i == 3) %>
                    <% }); %>
                </div>
            </div>
        </div>

        <div class="bgimg-7">

        </div>

        <div style="color: #777; background-color:white; text-align:center; padding:50px 80px; text-align: justify;">
          <h3 style="text-align: center;">nature</h3>
          <p>Be part of a passionate community of people determined to transform nature’s future. Your donation helps fund the most urgent on-the-ground conservation efforts to protect and restore our natural world. As a Nature Conservancy member, you can feel confident that you are doing your part for our planet.</p>
        </div>

        <div class="bgimg-8">
          <div class="caption">
            <a class="border" href="/fundraiser/category/Nature">CLICK HERE TO DONATE FOR NATURE</a>
          </div>
        </div>

        <div style="color: #777; background-color:white; text-align:center; padding:50px 80px; text-align: justify;">
            <div class="container">
                <div class="row">
                    <% i = 0 %>
                    <% aNature.some(function (fu){ %>
                        <% i = i + 1 %>
                        <div class="col-md-4">
                            <div class="card" style="width: 18rem;">
                                <img src="/uploads/fundraisers/<%= fu.fund_image %>" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title"><%= fu.fund_name %></h5>
                                    <p class="card-text text-left"><%= fu.fund_title %></p>
                                    <a href="/fundraiser/id/<%= fu._id %>" class="btn btn-primary">Detail</a>
                                </div>
                            </div>
                        </div>
                        <% return (i == 3) %>
                    <% }); %>
                </div>
            </div>
        </div>
    </div> 
    <%- include("partials/footer") %>
</body>
</html>