<!DOCTYPE ejs>
<html lang="en">
<head>
    <title><%= cname %> | O-Donate</title>
    <link rel="stylesheet" href="/stylesheets/category.css">
    <%- include("../partials/header") %>
    

</head>
<body>
    <%- include("../partials/navbar") %>
    <!-- <div class="container" style="margin: 25px auto; padding-top: 50px;"> -->
    <div class="container" style="margin: 25px auto; padding-top: 50px;">
        <!-- <div class="jumbotron jumbotron-fluid">
            <div class="container">
                <h1 class="display-4">CHILDREN</h1>
                <p class="lead">Each day, more than 30,000 children die of poverty-related causes. Today, poverty kills one child every 3 seconds.<br> 
                    Children are the primary victims of poverty, and poverty is the principal cause of violations pertaining to Children’s Rights.</p>
            </div>
        </div> -->
    <div class="row">
    <%= thisCategory %>
    <% cFundraiser.forEach(function(cf){ %>
        <div class="col-xs-12 col-lg-4">
            <div class="img-thumbnail mt-3">
                <img class="card-img-top" src=<%= "/uploads/fundraisers/" + cf.fund_image %> alt="Card image cap">
                <h2 style="padding-top: 15px;" class="card-title"><%= cf.fund_name %></h2>
                <p class="card-text"><%= cf.fund_title %></p>
                  
                <div class="progress">
                    <div class="progress-bar bg-success" style="width:<%= (cf.fund_moneynow / cf.fund_moneytraget) * 100 %>%"></div>
                </div>
                <h6>$<%= cf.fund_moneynow %> raised of $<%= cf.fund_moneytraget %></h6> 

                <div class="card-body" style="text-align: center;">
                    <a href="/fundraiser/id/<%= cf._id %>">More Detail</a>
                </div>
            </div>
        </div>
    <% }); %>
    </div>
    </div> 
    <!-- </div> -->
    <%- include("../partials/footer") %>
</body>
</html>