<!DOCTYPE ejs>
<html lang="en">
<head>
    <title>All Category | O-Donate</title>
    <%- include("../partials/header") %>
    <link rel="stylesheet" href="/stylesheets/category.css">
</head>
<body>
    <%- include("../partials/navbar") %>
    <div class="container" style="margin: 25px auto; padding-top: 50px;">
        <div class="jumbotron jumbotron-fluid">
            <div class="container">
                <h1 class="display-4">Donation Category</h1>
                <p class="lead">Support the causes you care about. With over thousand Fusdraisers in our database </p>
            </div>
        </div>

        <div class="row">
            <% category.forEach(function(ca){ %>
            <div class="col-md-4 mt-4">
                <img src="<%= ca.catg_pic %>" class="card-img-top" alt="...">
                <div class="card-body">
                    <a href="/fundraiser/category/<%= ca.catg_name %>"><%= ca.catg_name %> ></a>
                </div>
            </div>
            <% }); %>
        </div>
    </div>
</body>
</html>