<!DOCTYPE ejs>
<html lang="en">
<head>
    <title><%= tFundraiser.fund_name %> | O-Donate</title>
    <%- include("../partials/header") %>
    <link rel="stylesheet" href="/stylesheets/detail.css">
    <link rel="stylesheet" href="/stylesheets/profile.css">
    <script src="/scripts/changeProfilePic.js" type="text/javascript" defer></script>
</head>
<body>
    <%- include("../partials/navbar") %>
    <div class="container" style="margin: 25px auto; padding-top: 50px;">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="bd-title"><%= tFundraiser.fund_name %></h1>
                <p>&nbsp;</p>
            </div>

            <div class="col-xs-12 col-lg-5">
                <img class="card-img-top" src="/uploads/fundraisers/<%= tFundraiser.fund_image %>" alt="Card image cap">
                <div class="card-body" style="text-align: center;">
                    <% if(currentUser && currentUser._id.equals(tFundraiser.fund_author)) { %>
                    <form id="picForm" action="/fundraiser/id/<%= tFundraiser._id %>/editPic" method="POST" enctype="multipart/form-data">
                        <span class="btn btn-custom btn-file">
                            Change Picture <input type="file" class="form-control" id="imgSubmit" name="Image" accept="image/*">
                        </span>
                    </form>
                    <a href="/fundraiser/id/<%= tFundraiser._id %>/edit">Edit Fundraiser</a>
                    <% } else { %>
                        <% if (tFundraiser.fund_moneynow < tFundraiser.fund_moneytraget) { %>
                        <a href="/fundraiser/id/<%= tFundraiser._id %>/donate">Donate</a>
                        <% } else { %>
                        <a>Donate reach maximum.</a>
                        <% } %>
                    <% } %>
                </div>
            </div>
            <div class="col-xs-12 col-lg-7">
                <%- include("../partials/flash") %>
                <nav>
                    <div class="nav nav-tabs" id="nav-tab" role="tablist">
                        <a class="nav-item nav-link active" id="nav-detail-tab" data-toggle="tab" href="#nav-detail" role="tab" aria-controls="nav-detail" aria-selected="true">Detail</a>
                        <a class="nav-item nav-link" id="nav-donate-tab" data-toggle="tab" href="#nav-donate" role="tab" aria-controls="nav-donate" aria-selected="false">Lastest Donate History</a>
                        <a class="nav-item nav-link" id="nav-Update-tab" data-toggle="tab" href="#nav-Update" role="tab" aria-controls="nav-Update" aria-selected="false">Update</a>
                    </div>
                </nav>
                
                <div class="tab-content" id="nav-tabContent">
                    <div class="tab-pane fade show active" id="nav-detail" role="tabpanel" aria-labelledby="nav-detail-tab">
                        <div class="card-body">
                            <h5 class="card-title">Category: <%= tFundraiser.fund_catg %></h5>
                            <span class="border-bottom"><hr width="100%"></span>
                            Author:
                            <form action="/profile/id/<%= tUser._id %>" method="GET">
                                <button class="text-left col-md-4" style="border-radius: 5px; background-color: lightgrey; border: 0px; padding: 0px 3px;" type="submit">
                                    <img class="rounded-circle" src="/uploads/profiles/<%= tUser.profilePic %>" style="width: 50px; height: 50px; margin: 4px 0px">&nbsp&nbsp<%= tUser.username %>
                                </button>
                            </form>
                                                
                            <span class="border-bottom"><hr width="100%"></span>
                            <p class="card-text"><%= tFundraiser.fund_description %></p>
                                
                            <span class="border-bottom"><hr width="100%"></span>
                            <div class="progress">
                                <div class="progress-bar bg-success" style="width:<%= (tFundraiser.fund_moneynow / tFundraiser.fund_moneytraget) * 100 %>%"></div>
                            </div>
                            <h6>$<%= tFundraiser.fund_moneynow %> raised of $<%= tFundraiser.fund_moneytraget %></h6> 
                        </div>
                    </div>

                    <div class="tab-pane fade" id="nav-donate" role="tabpanel" aria-labelledby="nav-donate-tab">
                        <div class="card-body">
                            <% if(dArray.length != 0) { %>
                                <% dArray.forEach(function (da){ %>
                                <div class="text-left col-md-12" style="border-radius: 5px; background-color: lightgrey; border: 0px; padding: 0px 3px; margin-top: 10px;">
                                    <span><img class="rounded-circle" src="/uploads/profiles/<%= da.pic %>" style="width: 50px; height: 50px; margin: 4px 0px">
                                    &nbsp&nbsp<%= da.name %> donate <b><%= da.price %>$</b></span>
                                    <span class="pull-right mr-4" style="margin-top: 11px;"><%= (da.date).getDate() %>/<%= (da.date).getMonth()+1 %>/<%= (da.date).getFullYear() %></span>
                                </div>
                                <% }); %>
                            <% } else { %>
                                <div class="text-left col-md-12" style="border-radius: 5px; background-color: lightgrey; border: 0px; padding: 0px 3px; margin-top: 10px;">
                                    <span class="mr-4" style="margin-top: 11px; text-align: center;">Looks like nobody has donated this fund yet.</span>
                                </div>
                            <% } %>
                        </div>
                        
                    </div>

                    <div class="tab-pane fade" id="nav-update" role="tabpanel" aria-labelledby="nav-update-tab">
                        <div class="card-body">
                            <% if(currentUser && currentUser._id.equals(tFundraiser.fund_author)) { %>
                                <form action="/fundraiser/id/<%= tFundraiser._id %>/editUpdate" method="POST" autocomplete="off">
                                    <div class="form-group" style="background-color: lightgrey; border-radius: 5px;">
                                        <label for="new-description">&nbsp;&nbsp;> Add New Update:</label>
                                        <textarea class="form-control" type="text" name="fundUpdate" placeholder="" rows="3"></textarea>
                                    </div>

                                    <div class="form-group">
                                        <button style="border-radius: 5px;" class="form-button" type="submit">Update</button>
                                    </div>
                                </form>
                            <span class="border-bottom"><hr width="100%"></span>
                            <% } %>
                            <h5 class="card-title">Update:</h5>
                            <% (tFundraiser.fundUpdate).forEach(function (fu){ %>
                                <li><%= (fu.date).getDate() %>/<%= (fu.date).getMonth()+1 %>/<%= (fu.date).getFullYear() %></li>
                                <%= fu.update_descript %>
                            <% }); %>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <%- include("../partials/footer") %>
</body>
</html>