<!DOCTYPE ejs>
<html lang="en">
<head>
    <title>Donat For <%= fname %> | O-Donate</title>
    <%- include("../partials/header") %>
    <script src="/scripts/donate.js" type="text/javascript" defer></script>
    <style>

    </style>
</head>
<body>
    <%- include("../partials/navbar") %>
    <div class="container" style="margin: 25px auto; padding-top: 50px;">
        
        <div class="row justify-content-center">
            <div class="col-md-6 order-md-1">
                <h4 style="text-transform: uppercase;" class="mb-3">Donation For <%= fname %></h4>
                <form style="padding-top: 30px;" class="needs-validation" onsubmit="return donateCheck()" action="/fundraiser/donate/<%= tFundraiser._id %>" method="POST">
                    <h1>Enter Your Amount</h1>
                    <div class="input-group input-group-lg mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text">$</span>
                        </div>
                        
                        <input type="number" id="donateBox" name="donateBox" style="text-align: right;" class="form-control">
                        
                        <div class="input-group-append">
                            <span class="input-group-text">.00</span>
                        </div>
                    </div>

                    <h6 id="alertField1" style="color: red;">Your donate should be around $5-$50k</h6>
                    <p>&nbsp;</p>

                    <hr class="mb-4">
                    <button style="background-color: rgb(92, 173, 173);" class="btn btn-primary btn-lg btn-block" id="nextButton" type="submit">Confirm</button>
                    <h6>By Clicking this. You agree to ......</h6>
                </form>
            </div>
        </div>
    </div>
</body>
</html>