<!DOCTYPE ejs>
<html lang="en">
<head>
    <title>Donation For <%= fname %> | O-Donate</title>
    <%- include("../partials/header") %>
    <script src="/scripts/donate.js" type="text/javascript" defer></script>
    <style>

    </style>
</head>
<body>
    <%- include("../partials/navbar") %>
    <div class="container" style="margin: 25px auto; padding-top: 50px;">
        
        <div class="row justify-content-center">
            <div class="col-md-8 order-md-1">
                <h4 style="text-transform: uppercase;" class="mb-3">Donation For <%= fname %></h4>
                <form style="padding-top: 30px;" class="needs-validation" onsubmit="return donateCheck()" action="/fundraiser/donate/<%= tFundraiser._id %>" method="POST">
                    <h1>Enter Your Amount</h1>
                    <div class="input-group input-group-lg mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text">฿</span>
                        </div>
                        
                        <input type="number" id="donateBox" name="donateBox" style="text-align: right;" class="form-control">
                        
                        <div class="input-group-append">
                            <span class="input-group-text">.00</span>
                        </div>
                    </div>

                    <h6 id="alertField1" style="color: red;">Your donate should be around $5-$50k</h6>
                    <p>&nbsp;</p>

                    <!-- <div class="row">
                        <div class="col-md-6 mb-3">
                            <label for="firstName">First name</label>
                            <input type="text" class="form-control" id="firstName" placeholder="" value="" required>
                        </div>

                        <div class="col-md-6 mb-3">
                            <label for="lastName">Last name</label>
                            <input type="text" class="form-control" id="lastName" placeholder="" value="" required>
                        </div>
                    </div>

                    <div class="mb-3">
                        <label for="email">Email <span class="text-muted">(Optional)</span></label>
                        <input type="email" class="form-control" id="email" placeholder="Odonate@mail.com">
                    </div> -->

                    <!-- <div class="mb-3">
                        <label for="address">Address</label>
                        <input type="text" class="form-control" id="address" placeholder="11/111 Main St." required>
                    </div>

                    <div class="row">
                        <div class="col-md-5 mb-3">
                            <label for="country">Country</label>
                            <select class="custom-select d-block w-100" id="country" required>
                                <option value="">Select...</option>
                                <option>United States</option>
                            </select>
                        </div>

                        <div class="col-md-4 mb-3">
                            <label for="state">State</label>
                            <select class="custom-select d-block w-100" id="state" required>
                                <option value="">Select...</option>
                                <option>California</option>
                            </select>
                        </div>
                    </div> -->

                    <!-- <div class="row">
                        <div class="col-md-6 mb-3">
                            <label for="cc-number">Credit card number</label>
                            <input type="text" class="form-control" id="cc-number" placeholder="" required>
                        </div>
                    </div> -->

                    <!-- <div class="row">
                        <div class="col-md-3 mb-3">
                            <label for="cc-expiration">Expiration</label>
                            <input type="text" class="form-control" id="cc-expiration" placeholder="" required>
                        </div>
                        <div class="col-md-3 mb-3">
                            <label for="cc-cvv">CVV</label>
                            <input type="text" class="form-control" id="cc-cvv" placeholder="" required>
                        </div>
                    </div> -->

                    <hr class="mb-4">
                    <button class="btn btn-primary btn-lg btn-block" id="nextButton" type="submit">Continue</button>
                    <h6>By Clicking this. You agree to ......</h6>
                </form>
            </div>
        </div>
    </div>
</body>
</html>