<!DOCTYPE ejs>
<html lang="en">
<head>
    <title><%= fname %> | O-Donate</title>
    <%- include("../partials/header") %>
    <link rel="stylesheet" href="/stylesheets/detail.css">
</head>
<body>
    <%- include("../partials/navbar") %>
    <div class="container" style="margin: 25px auto; padding-top: 50px;">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="bd-title"><%= tFundraiser.fund_name %></h1>
            </div>

            <div class="col-xs-12 col-lg-5">
                <img class="card-img-top" src="/uploads/fundraisers/<%= tFundraiser.fund_image %>" alt="Card image cap">
                <div class="card-body" style="text-align: center;">
                    <a href="/fundraiser/id/<%= tFundraiser._id %>/donate">Donate</a>
                </div>
            </div>

            <div class="col-xs-12 col-lg-7">
                <div class="card-body">
                    <h5 class="card-title"><%= tFundraiser.fund_title %></h5>
                    <span class="border-bottom"><hr width="100%"></span>
                        Author:
                        <form action=<%= "/profile/id/" + tUser._id %> method="GET">
                            <!-- <div class="text-left col-md-12"> -->
                            <button class="text-left col-md-4" style="border-radius: 5px; background-color: lightgrey; border: 0px; padding: 0px 3px;" href="#">
                                <img class="rounded-circle" src="/uploads/profiles/<%= tUser.profilePic %>" style="width: 50px; height: 50px; margin: 4px 0px">&nbsp&nbsp<%= tUser.username %>
                            </button>
                            <!-- </div> -->
                        </form>
                        
                    <span class="border-bottom"><hr width="100%"></span>
                    <p class="card-text"><%= tFundraiser.fund_description %></p>
                    <div class="progress">
                        <div class="progress-bar bg-success" style="width:<%= (tFundraiser.fund_moneynow / tFundraiser.fund_moneytraget) * 100 %>%"></div>
                    </div>
                    <h6>$<%= tFundraiser.fund_moneynow %> raised of $<%= tFundraiser.fund_moneytraget %></h6> 
                </div>
            </div>
        </div>
    </div>
    <%- include("../partials/footer") %>
</body>
</html>